*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: auto;
} 

html {
  font-size: 10px;
}

body{
  font-size: 1.6rem;
  background-image: linear-gradient(to right bottom, rgba(44, 50, 74, 0.7), rgba(35, 40, 59, 0.6)), url('/images/bg/mobile');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;

}


#root{
  height: 100%;
  width: 100%;
}